:root {
  --color-primary: rgb(121, 30, 173);
  --color-primary-active: rgb(72, 17, 104);
  --padding-medium: 15px;
  --transition-timing-fast: 0.5s;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.post {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: var(--padding-medium);
  transition: box-shadow var(--transition-timing-fast) ease;
}

.post:hover {
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
}

.post h2 {
  transition: color var(--transition-timing-fast) ease-in-out, padding var(--transition-timing-fast) ease-in-out;
  padding-right: 10px;
  background: gray;
}

.post:hover h2 {
  color: var(--color-primary);
  padding-left: 10px;
  padding-right: 0;
}

.post p:before {
  content: '➵ ';
  font-size: 20px;
}

.post p:after {
  content: ' <...>';
  font-weight: 700;
}

button,
a.button {
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  /* transition-property: background, color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out; */

  transition: background var(--transition-timing-fast) ease-in-out, color var(--transition-timing-fast) ease-in-out, border-color var(--transition-timing-fast) ease-in-out;
}

button:hover,
a.button:hover {
  background: none;
  color: var(--color-primary);
}

button:active,
a.button:active {
  background: none;
  color: var(--color-primary-active);
  border-color: var(--color-primary-active);
}

a.button {
  text-decoration: none;
  display: inline-block;
}

button.secondary,
a.button.secondary {
  background: none;
  color: var(--color-primary);
}

button.secondary:hover,
a.button.secondary:hover {
  background: var(--color-primary);
  color: white;
}

button.secondary:active,
a.button.secondary:active {
  background: var(--color-primary-active);
}

button.green,
a.button.green {
  background: green;
  border-color: green;
  color: white;
}

button.green:hover,
a.button.green:hover {
  color: green;
  background: none;
}