:root {
  --color-red: red;
  --color-black: black;
  --color-white: white;
  --sizing-3: 30px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.bg-dark {
  color: var(--color-white);
}

.wrapper {
  padding: var(--sizing-3);
  margin-bottom: var(--sizing-3);
}

.wrapper.full-width {
  width: 100%;
}

.wrapper.half-width {
  width: 50%;
}

.wrapper.bg-dark {
  background: #424242;
}

.wrapper h2 {
  font-size: 40px;
}

.wrapper h2.color-red {
  color: var(--color-red);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.wrapper h2.color-red:hover {
  color: var(--color-white);
}

.wrapper p:not(.empty):before {
  content: '- ';
  color: var(--color-red);
}

.wrapper p:first-of-type {
  font-size: 1.5em;
}

.box {
  border: 2px solid var(--color-white);
  padding: var(--sizing-3);
  margin-bottom: var(--sizing-3);
}

.box.bg-dark {
  background: var(--color-black);
}

.container {
  margin: var(--sizing-3) auto;
  width: 70%;
}